DB_HOST=localhost
DB_PORT=your_port_here
DB_NAME=your_dbname_here
DB_USER=your_username_here
DB_PASSWORD=your_password_here
DATABASE_URL=postgresql+psycopg://your_username_here:your_password_here@localhost:your_port_here/your_dbname_here

LEETCODE_SESSION=
LEETCODE_CSRF_TOKEN=

REDIS_URL=your_redisurl_here

JWT_SECRET_KEY=your_jwtsecretkey_here
JWT_ALGORITHM=your_jwtalgorithm_here
ACCESS_TOKEN_EXPIRE_MINUTES=your_accesstokenexpiretime_here
